USE [Inspired]
GO
/****** Object:  Table [dbo].[Inv_StockMaster]    Script Date: 05/02/2015 09:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inv_StockMaster](
	[ITEM_ID] [int] NOT NULL,
	[WHS_ID] [int] NOT NULL,
	[BATCH_NO] [varchar](50) NOT NULL,
	[OB_DT] [date] NULL,
	[OB_QTY] [numeric](18, 0) NOT NULL,
	[CB_QTY] [numeric](18, 0) NOT NULL,
	[NOTES] [text] NULL,
	[WA_PRC] [decimal](18, 2) NULL,
	[FIFO_PRC] [decimal](18, 2) NULL,
	[LIFO_PRC] [decimal](18, 2) NULL,
	[COMPANY_ID] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[LAST_UPDATED] [date] NULL,
 CONSTRAINT [PK_INV_STOCKMASTER] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC,
	[WHS_ID] ASC,
	[BATCH_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Inv_StockMaster] ADD  CONSTRAINT [DF_INV_STOCKMASTER_BATCH_NO]  DEFAULT ('DB1') FOR [BATCH_NO]
GO
ALTER TABLE [dbo].[Inv_StockMaster] ADD  CONSTRAINT [DF_INV_STOCKMASTER_OB_QTY]  DEFAULT ((0)) FOR [OB_QTY]
GO
ALTER TABLE [dbo].[Inv_StockMaster] ADD  CONSTRAINT [DF_INV_STOCKMASTER_CB_QTY]  DEFAULT ((0)) FOR [CB_QTY]
GO
ALTER TABLE [dbo].[Inv_StockMaster]  WITH CHECK ADD  CONSTRAINT [FK_INV_STOCKMASTER_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[Gen_CompanyMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMaster] CHECK CONSTRAINT [FK_INV_STOCKMASTER_COMPANY]
GO
ALTER TABLE [dbo].[Inv_StockMaster]  WITH CHECK ADD  CONSTRAINT [FK_INV_STOCKMASTER_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Gen_UserMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMaster] CHECK CONSTRAINT [FK_INV_STOCKMASTER_USER]
GO
ALTER TABLE [dbo].[Inv_StockMaster]  WITH CHECK ADD  CONSTRAINT [FK_INV_STOCKMASTER_WAREHOUSEMASTER] FOREIGN KEY([WHS_ID])
REFERENCES [dbo].[Inv_WarehouseMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMaster] CHECK CONSTRAINT [FK_INV_STOCKMASTER_WAREHOUSEMASTER]
GO
ALTER TABLE [dbo].[Inv_StockMaster]  WITH CHECK ADD  CONSTRAINT [FK_INVSTOCKMASTER_MATERIALMASTER] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[Inv_MaterialMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMaster] CHECK CONSTRAINT [FK_INVSTOCKMASTER_MATERIALMASTER]
GO
