USE [Inspired]
GO
/****** Object:  Table [dbo].[Inv_StockMasterSlNo]    Script Date: 05/02/2015 09:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inv_StockMasterSlNo](
	[ITEM_ID] [int] NOT NULL,
	[WHS_ID] [int] NOT NULL,
	[BATCH_NO] [varchar](50) NOT NULL,
	[SERIAL_NO] [varchar](500) NOT NULL,
	[CB_QTY] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_INV_STOCKMASTERSLNO] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC,
	[WHS_ID] ASC,
	[BATCH_NO] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo] ADD  CONSTRAINT [DF_INV_STOCKMASTERSLNO_BATCH_NO]  DEFAULT ('DB1') FOR [BATCH_NO]
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo] ADD  CONSTRAINT [DF_INV_STOCKMASTERSLNO_SERIAL_NO]  DEFAULT ('DS1') FOR [SERIAL_NO]
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo]  WITH CHECK ADD  CONSTRAINT [FK_INV_STOCKMASTERSLNO_WAREHOUSEMASTER] FOREIGN KEY([WHS_ID])
REFERENCES [dbo].[Inv_WarehouseMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo] CHECK CONSTRAINT [FK_INV_STOCKMASTERSLNO_WAREHOUSEMASTER]
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo]  WITH CHECK ADD  CONSTRAINT [FK_INVSTOCKMASTERSLNO_MATERIALMASTER] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[Inv_MaterialMaster] ([Id])
GO
ALTER TABLE [dbo].[Inv_StockMasterSlNo] CHECK CONSTRAINT [FK_INVSTOCKMASTERSLNO_MATERIALMASTER]
GO
